@import 'styles/variables.scss';

.root {
  height: 100vh;
  padding-top: 16vh;

  .formWrapper {
    position: relative;
    width: 450px;
    margin: 0 auto;
    padding-bottom: 45px;
    background-color: $white;
    border-radius: 20px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 25px;
    text-align: center;
    color: $white;
  }

  .formHeader {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: $green;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 55px 0;

    & > label {
      margin-bottom: 16px;
    }
  }

  .registerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    font-size: 15px;
    line-height: 20px;

    .text{
      margin-bottom: 12px;
      color: $dustyGray;
    }

    .link {
      color: $green;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.4s;

      &:hover {
        color: $seaweed;
      }
    }
  }

  .errorMessagesWrapper {
    position: absolute;
    top: 400px;
  }

  .submitBtn {
    width: 100%;
    height: 50px;
    margin-top: 100px;
    padding: 0 20px;
    background-color: $green;
    border-radius: 25px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: background-color 0.4s;

    &:hover {
      background-color: $seaweed;
    }
  }
}
