// @import '~styles/variables';
// @import '~styles/mixins';

.root {
  height: 100vh;
  padding-top: 25vh;
  background-color: #2897D4;

  h1 {
    margin-bottom: 25px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    padding: 0 45px;

    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    input {
      width: 200px;
    }
  }
}
